.con {
    display: inline-flex;
    /*배치 변경*/
    /*padding: 20px;
    /*안쪽 여백생성*/
    /*margin: 10px;
    /*겉의 여백생성*/
    list-style-type : none;
    margin: 0px;
    padding: 0px;
    /* list-style-type :square; */
}

#upsel{
    padding : 0px 15px;
    cursor: pointer;
}

#upsel:hover{
    color: rgb(69, 69, 255);
}

.DarkMode{
    position : fixed;
    top: 0px;
    right: 0px;
}

#effect-img {
    position: absolute;
    bottom: 180px;   
    left: 20px;
    animation: blink 0.7s infinite;
}

@keyframes colorBlink {
    0%   { background-color: rgb(255, 255, 94); }
    50%  { background-color: rgb(155, 252, 171); }
    100% { background-color: rgb(255, 255, 94); }
}

.blinking {
    animation: colorBlink 0.5s infinite;
}

@keyframes colorBlink_Dark {
    0%   { background-color: rgb(70, 67, 67); }
    50%  { background-color: rgb(163, 157, 157); }
    100% { background-color: rgb(70, 67, 67); }
}

.blinking_Dark {
    animation: colorBlink_Dark 0.5s infinite;
}

#log{
    position: relative;
}

#logout{
    position: absolute;
    right: 15px;
    bottom: 5px;
}

#recodein{
    position: relative;
    bottom: 10px;
}

#blueline{
    position: relative;
    bottom: 22px;
    left: 1270px;
}

#li_Sel {
    cursor: pointer;
    color: blue;
}

.small-br {
    display: block;
    height: 8px; /* 원하는 간격 */
}

.ssmall-br {
    display: block;
    height: 4px; /* 원하는 간격 */
}

