html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;  /*x축 고정*/
}

header h1 {
    margin: 0;
    /* background: rgb(70, 67, 67); */
}

header {
    
    width: 100%;
    height: 100px;
    background: rgb(185, 225, 238);
    outline: 1px solid rgb(223, 223, 223);
}

nav {
    
    width: 10%;
    height: 70%;
    float: left;
    background: white;
    /* background: rgb(235, 233, 230); */
    border: 1px solid rgb(223, 223, 223);
}

section {
    width: 75%;
    height: 70%;
    float: left;
    background: white;
    /* outline: 1px solid black; */
}

aside {
    position: fixed;
    top: 101px;
    width: 15%;
    height: 70%;
    right: 0px;
    float: left;
    background: white;
    /* background: rgb(235, 233, 230); */
    /* border: 1px solid black; */
    outline: 1px solid rgb(223, 223, 223);
    
}

footer {
    position : fixed;
    width: 100%;
    height: 170px;
    bottom: 0px;
    clear: both;
    background: rgb(255, 255, 94);
    padding:10px;
    outline: 1px solid rgb(223, 223, 223);
}

footer h3 {
    margin-top: 0;
}



